<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" v-model="title" placeholder="타이틀 입력" />
        <textarea
          v-model="content"
          cols="30"
          rows="10"
          placeholder="내용 입력"
        ></textarea>
        <button v-on:click="addReward">+</button>
        <h3>rewards</h3>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          title: "",
          content: "",
          rewards: [],
          reward: {
            type: "",
            degree: "",
            productCode: "",
          },
          rewardCount: 0,
        },
      });
    </script>
  </body>
</html>
